html,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.button,
.link {
    cursor: pointer;
    text-decoration: none;

}

.button:hover {
    opacity: 0.8;
}

.body-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header-container {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-container {
    width: 370px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.header-logo {
    width: 370px;
    height: 36px;
}

.header-search {
    width: 563px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 31px 15px 31px;
    margin-left: 34px;
}

.search-form {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 100%;
    height: 50px;
    padding: 10.5px 45px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 1);
}

.header-nav {
    width: 463px;
    height: 80px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 400;
}

.header-nav__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    list-style: none;
    margin-left: 28px;
}

.header-nav__item {
    width: 135px;
    line-height: 47px;
    text-align: center;
    margin-right: 9px;
}

.header-nav__link,
.header-nav__link.button {
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
    background: none;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 400;
}

.sell-link-container {
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 0 17px 0 12px;
}

.sell-link {
    display: inline-block;
    width: 100%;
    line-height: 50px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    border-radius: 4px;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    padding: 0;
    flex: 1;
}

.form__error {
    line-height: 18px;
    height: 18px;
    color: rgba(255, 0, 0, 1);
    font-size: 16px;
}

.alert-success {
    min-height: 18px;
    line-height: 18px;
    color: rgba(0, 115, 204, 1);
    font-size: 16px;
    margin: 8px 0;
}

.title-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items:center;
    justify-self: left;
    text-align: left;
    gap: 20px;
    margin-bottom: 7%;
}

/* レスポンシブ対応 */
@media screen and (min-width: 769px) and (max-width: 1511px) {
    .header-container {
        width: 100%;
        height: auto;
        justify-content: space-around;
        align-items: center;
    }

    .header-logo-container {
        width: 28%;
        margin: 0;
    }

    .header-logo {
        width: 100%;
    }

    .header-search {
        width: 28%;
        padding: 10px 0;
        margin: 0;
    }

    .search-input {
        font-size: 18px;
        padding: 10px;
    }

    .header-nav {
        width: 37%;
        justify-content: center;
        margin: 0;
    }

    .header-nav__list {
        justify-content: space-evenly;
        margin: 0;
        gap: 0;
    }

    .header-nav__link,
    .header-nav__link.button {
        font-size: 18px;
    }

    .form__error {
        margin: 4px;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px)  {
    .header-container {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-logo-container{
        width: 100%;
        margin: 0;
        padding: 20px;
    }

        .header-logo {
        width: 50%;
    }

    .header-search,
    .header-nav {
        width: 563px;
        margin: 0;
        padding: 5px 10px;
    }

    .header-nav {
        justify-content: center;
    }

    .header-nav__list {
        width: 500px;
        margin: 0;
        gap: 0;
        justify-content: space-between;
    }

    .sell-link-container {
        margin:  0 10px;
    }

    .header-nav__link,
    .header-nav__link.button {
        font-size: 18px;
    }
}

@media screen and (max-width: 540px)  {
    .header-container {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-logo-container {
        width: 90%;
        margin: 0;
        margin: 15px auto;
        padding: 0;
    }

    .header-nav,
    .header-search {
        width: 75%;
        height: 60px;
        margin: 0 auto 5px;
        padding:0;
    }

    .header-nav__list {
        margin: 0;
        gap: 0;
        justify-content: space-between;
    }

    .search-input {
        font-size: 18px;
        padding: 10px;
    }

    .header-logo {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }

    .sell-link-container {
        margin:  0 10px;
    }

    .header-nav__link,
    .header-nav__link.button {
        font-size: 18px;
    }

    .form__error {
        margin: 4px;
    }
}
