/* 商品一覧画面（トップ） */
.content-container {
    padding-top: 47px;
}
/* ナビゲーションタブ */
.nav-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav-tabs__list {
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: left;
    list-style: none;
    margin-left: 129px;
    padding: 0;
}

.nav-tabs__item {
    width: 155px;
    height: 40px;
    margin-right: 52px;
}

.nav-tabs__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    line-height: 40px;
    text-decoration: none;
    color: rgba(95, 95, 95, 1);
    height: 100%;
    width: 100%;
}

.nav-tabs__link--active {
    color: rgba(255, 0, 0, 1);
}

/* ナビゲーションタブ下のボーダーライン */
.nav-tabs-border-line {
    width: 100%;
    border: 2px solid rgba(95, 95, 95, 1);
    display: block;
    transform: rotate(0.08deg);
    transform-origin: center center;
}

/* 商品一覧 */
.product-list {
    width: 1374px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 76px 69px;
    box-sizing: border-box;
}

.product-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* 商品アイテム */
.product-item {
    width: 290px;
    height: 320px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 70px;
    margin-bottom: 76.61px;
}

.product-item:nth-child(4n) {
    margin-right: 0;  /* 4つ目、8つ目、12つ目...の要素の右側マージンを削除 */
}

.product-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

.product-image-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.product-name-link {
    width: 100%;
    height: 30px;
    text-decoration: none;
    color: inherit;
    display: block;
}

.product-image {
    width: 100%;
    height: 290px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

}

.product-image__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.product-image__placeholder {
    background: rgba(217, 217, 217, 1);
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 40px;
    border-radius: 4px;
}

/* SOLDバッジ */
.sold-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 0, 0, 1);
    color: rgba(217, 217, 217, 1);
    padding: 10px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    z-index: 1;
}

.product-name {
    width: 290px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-name__text {
    display: inline-block;
    width: 100%;
    color: rgba(0, 0, 0, 1);
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    text-align: left;
}

.product-name__placeholder {
    color: rgba(0, 0, 0, 1);
    display: flex;
    width: 290px;
    height: 290px;
    border-radius: 4px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* 商品が見つからない場合 */
.no-items-message {
    width: 100%;
    text-align: center;
    padding: 50px;
    color: rgba(0, 0, 0, 1);
    font-size: 25px;
    line-height: 30px;
}

/* レスポンシブ対応 */
@media screen and (min-width: 769px) and (max-width: 1280px) {
    .product-list {
        width: 90%;
        margin: 2.5% auto;
    }

    .product-grid {
        justify-content: space-evenly;
        gap: 25px;
    }

    .product-item {
        margin: 0;
    }

    .nav-tabs__list {
        margin-left: 50px;
    }

    .nav-tabs__item {
        margin-right: 20px;
    }

    .nav-tabs__link {
        padding: 10px 0;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
    .product-list {
        width: 90%;
        margin: 2.5% auto;
    }

    .product-grid {
        justify-content: space-evenly;
        gap: 20px;
    }

    .product-item {
        margin: 0;
    }
}

@media screen and (max-width: 540px) {
    .content-container {
        padding-top: 20px;
    }

    .nav-tabs__list {
        justify-content: center;
        margin: 0;
    }

    .nav-tabs__item {
        text-align: center;
        margin: 10px;
    }

    .nav-tabs__link {
        justify-content: center;
    }

    .product-list {
        width: 90%;
        margin: 2.5% auto;
    }

    .product-grid {
        justify-content: space-evenly;
        gap: 20px;
    }

    .product-item {
        margin: 0;
    }
}

