.main-content {
    justify-content: flex-start;
}
/* 商品詳細全体画面 */
.content-container {
    width: 1380px;
    flex-direction: row;
    margin: 95px auto 100px auto;
}

/* 左側：商品画像全体 */
.item-image-section {
    flex: 0 0 690px;
    height: 1704.4px;
}

/* イメージplaceholder */
.item-image-placeholder {
    width: 600px;
    height: 600px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 36px auto;

}

/* イメージ */
.item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 4px;
}

/* 商品画像text */
.item-image-text {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 40px;
}

/* 右側全体の親要素 */
.product-description-area {
    width: 690px;
    height: 1704.4px;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* 商品概要 */
.item-info-section {
    width: 570px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 55px 37.4px 65px;
}

/* 商品概要ヘッダー */
.item-header {
    width: 100%;
    height: 273px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* 商品名 */
.item-name {
    width: 100%;
    font-size: 45px;
    color: rgba(0, 0, 0, 1);
    line-height: 77px;
}

/* ブランド名 */
.item-brand {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 28px;
}

/* 価格全体の親要素 */
.item-price-section {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 28px;
}

/* 価格 */
.item-price {
    display: flex;
    align-items: center;
    line-height: 45px;
    font-size: 45px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin-right: 6px;
}

/* ￥と価格tax */
.price-symbol,
.item-price-tax {
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    color: rgba(0, 0, 0, 1);
}

/* いいね・コメント数全体の親要素 */
.item-engagement {
    width: 144px;
    height: 67px;
    display: flex;
    margin-left: 45px;
    justify-content: space-between;
}

/* いいね・コメント数親要素 */
.engagement-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 1);
}

/* いいね・コメントアイコン */
.engagement-icon {
    width: 40px;
    height: 40px;
}

/* いいね数・コメント数 */
.engagement-count {
    line-height: 22px;
    font-size: 18px;
}

/* いいねボタン */
.like-button {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-button.liked .engagement-icon {
    filter: brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

/* 購入ボタン親要素 */
.item-purchase {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 商品説明 */
.item-description-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 321px;
    margin-left: 2px;
}

.description-section-title {
    line-height: 74px;
}

/* 各title共通 */
.description-section-title,
.information-section-title {
    width: 559px;
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
}

/* 商品説明text */
.item-description-text {
    height: 247px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

/* 商品情報 */
.item-information-section {
    width: 100%;
    min-height: 230px;
}

/* 商品情報title */
.information-section-title {
    line-height: 100px;
}

/* カテゴリー&状態の親要素 */
.item-information {
    display: flex;
    flex-direction: column;
}

/* カテゴリー */
.category-info-item {
    display: flex;
    align-items: flex-start;
}

/* カテゴリーlabel */
.category-info-label {
    width: 122.39px;
    line-height: 30px;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    margin-right: 61.19px;
}

/* カテゴリタグ の親要素 */
.category-tags {
    height: 30px;
    display: flex;
    gap: 22.44px;
    align-items: center;
    flex-wrap: wrap;
}

/* カテゴリーtag */
.category-tag {
    min-width: 101.99px;
    background-color: rgba(217, 217, 217, 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 15px;
    font-size: 20px;
    line-height: 24.83px;
    font-weight: 400;
    text-align: center;
    padding: 0 20.4px;
    box-sizing: border-box;
}

/* conditionの親要素 */
.condition-info-item {
    display: flex;
    align-items: flex-start;
}

/* condition label */
.condition-info-label {
    width: 137.28px;
    height: 100px;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    line-height: 100px;
    margin-right: 76.72px;
    text-align: left;
}

/* condition */
.info-value {
    height: 82.76px;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    line-height: 82.76px;
    margin: 8.62px 0;
}

/* コメントセクション */
.comments-section {
    width: 570px;
    height: 743px;
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
    line-height: 100px;
    margin-bottom: 37.4px;
}

/* コメントtitle */
.comments-section-title {
    font-size: 36px;
    color: rgba(95, 95, 95, 1);
    line-height: 100px;
}

/* 既存コメントの親要素 */
.comment-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
}

/* コメントuserの親要素 */
.comment-user {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

/* コメントuserのプロフィール画像 */
.profile-image {
    width: 70px;
    height: 70px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin-right: 18px;
}

/* プロフィール画像 */
.profile-image-holder {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 1);
}

/* コメントuser名 */
.user-name {
    width: 482px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
    color: rgba(0, 0, 0, 1);
}

/* 既存のコメント */
.comment-content {
    width: 100%;
    height: 70px;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    line-height: 70px;
    padding-left: 14.5px;
    font-weight: 300;
    border-radius: 5px;
    background: rgba(229, 229, 229, 1);
    margin-bottom: 41px;
}

/* コメント投稿フォームの親要素 */
.comment-form-section {
    width: 100%;
    height:422px;
}

/* コメント投稿フォームtitle */
.form-title {
    line-height: 50px;
    font-size: 28px;
    color: rgba(0, 0, 0, 1);
}

/* コメント投稿フォーム */
.comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
}

/* コメント投稿フォームinput */
.comment-input {
    width: 100%;
    height: 246px;
    padding: 15px;
    border: 2px solid rgba(95, 95, 95, 1);
    background: rgba(217, 217, 217, 0);
    border-radius: 5px;
    font-size: 20px;
    resize: both;
    font-family: inherit;
    box-sizing: border-box;
}

/* 標準リサイズハンドルを隠す */
.comment-input::-webkit-resizer {
    display: none;
}

.comment-input::-moz-resizer {
    display: none;
}

/* textareaラッパー */
.textarea-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 246px;
    margin-bottom: 8px;
    padding: 0;
}

/* textarea */
.comment-input {
    position: relative;
}

/* カスタムリサイズハンドル */
.custom-resize-handle {
    position: absolute;
    bottom: -4px;
    right: -2px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: none;
    cursor: se-resize;
    z-index: 999;
}

.custom-resize-handle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 7.07px;
    height: 0px;
    border: 1.5px solid rgba(95, 95, 95, 1);
    border-radius: 0;
    opacity: 1;
    transform: rotate(-45deg);
    transform-origin: right bottom;
}

.custom-resize-handle::after {
    content: '';
    position: absolute;
    bottom: 20px;
    right: 8px;
    width: 15.56px;
    height: 0px;
    border: 1.5px solid rgba(95, 95, 95, 1);
    border-radius: 0;
    opacity: 1;
    transform: rotate(-45deg);
    transform-origin: right bottom;
}

/* コメント投稿フォームsubmitボタン&購入の親要素 */
.comment-submit-button-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 購入ボタン&コメント投稿フォームsubmitボタン */
.purchase-link,
.comment-submit-button {
    width: 100%;
    line-height: 56px;
    background-color: rgba(255, 85, 85, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    text-align: center;
}

.purchase-link {
    font-size: 30px;
}

.comment-submit-button {
    font-size: 25px;
}

.purchase-link:hover,
.comment-submit-button:hover {
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    color: rgba(255, 85, 85, 1);
}

/* レスポンシブ対応 */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .content-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 30px 0;
    }

    .item-image-section {
        flex: none;
        width: 600px;
        height: 600px;
        margin: 30px auto;
    }

    .item-image-placeholder {
        margin: 0;
    }

    .product-description-area {
        width: 60%;
        height: auto;
        margin: 0 auto;
        justify-content: center;
    }

    .item-info-section,
    .item-information-section,
    .comments-section,
    .comment-form-section {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 541px) and (max-width: 1023px) {
    .content-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 30px 0;
    }

    .item-image-section {
        flex: none;
        height: 600px;
        margin: 30px auto;
    }

    .item-image-placeholder {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .product-description-area {
        width: 600px;
        margin: 0 auto;
        justify-content: center;
    }

    .item-info-section,
    .item-information-section,
    .comments-section,
    .comment-form-section {
        width: 100%;
        margin: 0;
    }

    .item-header,
    .item-description-section {
        width: 100%;
        height: auto;
    }

    .item-price-section {
        justify-content: center;
    }

    .item-name,
    .item-price {
        font-size: 36px;
        line-height: 40px;
        padding-left: 20px;
    }

    .item-brand {
        padding-left: 20px;
    }

    .price-symbol, .item-price-tax {
        font-size: 20px;
        line-height: 35px;
    }

    .description-section-title, .information-section-title, .comments-section-title {
        width: 100%;
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 10px;
    }

    .user-name {
        width: 70%;
    }
}

@media screen and (max-width: 540px) {
    .content-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 30px 0;
        padding-top: 20px;
    }

    .item-image-section {
        flex: none;
        width: 80%;
        height: auto;
        margin: 30px auto;
    }

    .item-image-placeholder {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .product-description-area {
        width: 80%;
        height: auto;
        margin: 0 auto;
        justify-content: center;
    }

    .item-info-section,
    .item-information-section,
    .comments-section,
    .comment-form-section {
        width: 100%;
        margin: 0;
    }

    .item-header,
    .item-description-section {
        width: 100%;
        height: auto;
    }

    .item-price-section {
        justify-content: center;
    }

    .item-name,
    .item-price {
        font-size: 30px;
        line-height: 40px;
        padding-left: 20px;
    }

    .item-brand {
        padding-left: 20px;
    }

    .price-symbol, .item-price-tax {
        font-size: 20px;
        line-height: 35px;
    }

    .category-info-item,
    .condition-info-item {
        flex-direction: column;
        margin: 10px 0
    }

    .category-info-label,
    .condition-info-label {
        width: 70%;
        height: auto;
        font-size: 18px;
        line-height: 30px;
        margin: 0;
    }

    .item-description-text,
    .info-value {
        height: auto;
        font-size: 18px;
        line-height: 30px;
    }

    .category-tag {
        font-size: 18px;
        line-height: 20px;
        padding: 0 10px;
    }

    .description-section-title, .information-section-title, .comments-section-title,
    .form-title {
        width: 100%;
        font-size: 22px;
        line-height: 35px;
        margin: 10px 0;
    }

    .user-name {
        width: 60%;
        font-size: 22px;
    }

    .comment-content {
        padding: 4px 10px;
        font-size: 16px;
        line-height: 20px;
    }

    .purchase-link, .comment-submit-button {
        margin-top: 10px;
        height: 40px;
        line-height: 40px;
        font-size: 24px;
    }
}
