.content-container {
    padding: 67px 0;
}


.profile-image-section {
    width: 1017px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 196px 0 299px;
}

.profile-image-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-holder {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.user-info {
    width: 377px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}

.user-name {
    height: 65px;
    font-size: 36px;
    line-height: 65px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 1);
    padding-left: 27px;
}

.user-star-rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.user-star-icon {
    display: inline-flex;
    align-items: center;
}

/* 評価がない場合（デフォルト） */
.user-star-icon img {
    width: 40px;
    height: 40px;
    display: block;
    filter: brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%); /* #D9D9D9 */
}

/* 評価がある場合 */
.user-star-icon.has-rating img {
    filter: none; /* rgba(255, 240, 72, 1)（SVGファイルのデフォルト色） */
}

.profile-edit-button {
    width: 310px;
    height: 59px;
    line-height: 59px;
    border-radius: 10px;
    border: 2px solid rgba(255, 85, 85, 1);
    font-size: 26px;
    text-align: center;
    margin-left: 150px;
    color: rgba(255, 85, 85, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-button:hover {
    background-color: rgba(255, 85, 85, 1);
    color: rgba(255, 255, 255, 1);
}

/* ナビゲーションタブ */
.nav-tabs {
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 188px;
    margin-top: 81px;
}

.nav-tabs__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-tabs__item {
    display: flex;
    align-items: center; /* 縦方向の中央揃え */
    margin-right: 52px;
    text-align: right;
}

.nav-tabs__item:last-child {
    margin-right: 0;
}

.trading-badge-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tabs__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    color: rgba(95, 95, 95, 1);
    width: 155px;
    height: 40px;

}

.nav-tabs__link--active {
    color: rgba(255, 0, 0, 1);
}

/* タグ用件数バッジ */
.trading-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 26px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 26px;
}

/* ナビゲーションタブ下のボーダーライン */
.nav-tabs-border-line {
    width: 100%;
    border: 2px solid rgba(95, 95, 95, 1);
    margin-bottom: 72px;
    transform: rotate(0.08deg);
    transform-origin: center center;
}

/* 商品一覧 */
.product-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 223px 0 180px;
}

.product-grid {
    display: flex;
    flex-direction: row;
    gap: 111px 103px;
    flex-wrap: wrap;
}

/* 商品アイテム */
.product-item {
    width: 200px;
    height: 200px;
    text-align: center;
}

.product-image {
    width: 100%;
    height: 100%;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-image-placeholder {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(217, 217, 217, 1);
    font-weight: 400;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image-holder {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 4px;
}

.trading-product-image-holder {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 4px;
    background-color: rgba(217, 217, 217, 1);
    position: relative;
}

/* イメージ用SOLDバッジ */
.sold-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 0, 0, 1);
    color: rgba(217, 217, 217, 1);
    padding: 5px;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 400;
    z-index: 1;
}

/* イメージ用件数バッジ */
.trading-notification-badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 700;
    z-index: 1;
}

.product-name-text {
    display: inline-block;
    width: 100%;
    color: rgba(0, 0, 0, 1);
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    text-align: left;
}

/* レスポンシブ対応 */
@media screen and (min-width: 769px) and (max-width: 1280px) {
    .content-container {
        padding-top: 20px;
    }

    .profile-image-section{
        width: 80%;
        height: auto;
        margin: 10px auto;
        justify-content: space-between;
    }

    .user-info {
        width: 40%;
    }

    .user-name {
        width: 90%;
        line-height: 65px;
        text-align: left;
        font-size: 24px;
    }

    .profile-edit-button {
        width: 38%;
        font-size: 20px;
        line-height: 65px;
        text-align: center;
        padding: 0;
        margin-left: 0;
    }

    .nav-tabs {
        padding-left: 30px;
    }

    .nav-tabs__list {
        margin-left: 50px;
    }

    .nav-tabs__item {
        margin-right: 20px;
    }

    .product-list {
        width: 92%;
        margin: 0 auto;
        padding: 0 20px;
    }

    .product-grid {
        justify-content: flex-start;
        padding-left: 0;
        gap: 20px;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
    .content-container {
        padding-top: 20px;
    }

    .profile-image-section{
        width: 90%;
        height: auto;
        margin: 10px auto;
        justify-content: space-between;
    }

    .user-info {
        width: 40%;
    }

    .user-name {
        width: 90%;
        line-height: 65px;
        text-align: left;
        font-size: 24px;
    }

    .profile-edit-button {
        width: 38%;
        font-size: 20px;
        line-height: 65px;
        text-align: center;
        padding: 0;
        margin-left: 0;
    }

    .nav-tabs {
        padding-left: 30px;
    }

    .nav-tabs__list {
        margin-left: 50px;
    }

    .nav-tabs__item {
        margin-right: 20px;
    }

    .product-list {
        width: 92%;
        margin: 0 auto;
        padding: 0 30px;
    }

    .product-grid {
        justify-content: flex-start;
        padding-left: 0;
        gap: 20px;

    }
}


