/* プロフィール編集画面 /mypage/profile */
.content-container {
    width: 680px;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 1);
    padding: 59px 0;
}

.content-title {
    width: 299px;
    line-height: 47px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 47px;
}

.profile-image-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    margin-bottom: 58px;
}

.profile-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.profile-image-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 1);
    font-weight: 400;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-holder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}


.profile-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.profile-image-button {
    width: 179px;
    height: 49px;
    border-radius: 10px;
    border: 2px solid rgba(255, 85, 85, 1);
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
    margin-left: 40px;
    color: rgba(255, 85, 85, 1);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box;
}

.profile-image-button:hover {
    background-color: rgba(255, 85, 85, 1);
    color: rgba(255, 255, 255, 1);
}

.profile-image-input {
    display: none;
}

.profile-content {
    width: 100%;
    height: 100%;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-name-error {
    margin: 22px auto;
}

.form__error {
    margin: 12.5px auto;
}

.profile-label {
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.profile-input {
    height: 55px;
    line-height: 53px;
    border-radius: 4px;
    border: 1px solid rgba(95, 95, 95, 1);
    padding: 0 16px;
    font-size: 24px;
    text-align: left;
    color: rgba(95, 95, 95, 1);
}

.profile-input:focus {
    outline: none;
}

.profile-button {
    width: 100%;
    height: 60px;
    background-color: rgba(255, 85, 85, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: none;
    font-size: 26px;
    margin-top: 24px;
}

/* レスポンシブ対応 */
@media screen and (min-width: 769px) and (max-width: 1280px) {
    .content-container {
        width: 60%;
        padding: 20px;
        margin: 5% auto;
        justify-content: center;
        align-items: center;
        min-height: 85vh;
    }

    .profile-image-section {
        margin-bottom: 20px;
    }

    .profile-button {
        margin-top: 25px;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
    .content-container {
        width: 70%;
        padding: 0;
        margin: 5% auto;
    }

    .content-title {
        margin: 10px;
        font-size: 28px;
        line-height: 30px;
    }

    .profile-image-section {
        margin-bottom: 10px;
    }

    .profile-image-container {
        justify-content: center;
    }

    .profile-input {
        line-height: 40px;
    }

    .profile-button {
        margin: 15px 0;
    }

    .form__error {
        margin: 7px 0;
    }

    .profile-image-error {
        height: 40px;
        margin: 10px 0;
        text-align: left;
    }
}

@media screen and (max-width: 540px) {
    .content-container {
        width: 90%;
        margin: 3% auto;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .content-title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .profile-content {
        width: 100%;
        margin: 0;
    }

    .profile-image-section {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .profile-image-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-image-placeholder {
        margin-bottom: 20px;
    }

    .profile-image-button {
        margin: 0;
    }

    .form__error {
        margin: 0;
        margin-bottom: 4px;
    }

    .profile-image-error {
        height: 40px;
        margin: 10px 0;
        text-align: left;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .profile-label,
    .profile-input {
        font-size: 18px;
    }

    .profile-input {
        height: 45px;
        line-height: 45px;
    }

    .profile-button {
        margin: 10px 0;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
}
