/* 認証用のheaderの高さを設定 */
.auth-header {
    height: 82px;
}

/* title含め入力フォームのコンテナ */
.content-container {
    width: 680px;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 1);
    margin-top: 96px;
}

/* titleのstyle */
.form-title {
    width: 144px;
    font-size: 36px;
    text-align: center;
    line-height: 47.58px;
    margin-bottom: 36.42px;
}

/* formのstyle */
.register-form {
    width: 100%;
}

/* form-group共通のstyle */
.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group-margin {
    margin-bottom: 22px;
}

/* register-label共通のstyle */
.form-label {
    height: 36px;
    line-height: 36px;
}

.form-label-tight {
    height: 35px;
    line-height: 35px;
}

/* register-input共通のstyle */
.form-input {
    width: 100%;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid rgba(95, 95, 95, 1);
    height: 59px;
    line-height: 59px;
    font-size: 24px;
    box-sizing: border-box;
}

.form-input-tight {
    height: 58px;
    line-height: 58px;
}

/* register-input:focus共通のstyle */
.form-input:focus {
    outline: none;
}

/* button共通のstyle */
.submit-button {
    width: 100%;
    height: 65.25px;
    background-color: rgba(255, 85, 85, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: none;
    font-size: 26px;
    margin-top: 76px;
}

.register-link {
    display: block;
    width: 257px;
    line-height: 53.29px;
    font-size: 20px;
    font-weight: 400;
    color: #0073CC;
    text-align: center;
    margin-top: 18.49px;
    margin-bottom: 43px;
}

/* レスポンシブ対応 */
@media screen and (min-width: 769px) and (max-width: 1280px) {
    .header-logo-container {
        width: 70%;
        margin: 0 auto;
        padding: 0px;
    }

    .header-logo {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .content-container {
        width: 60%;
        padding: 20px;
        margin: 5% auto;
        justify-content: center;
        align-items: center;
        min-height: 85vh;
    }

        .submit-button {
        margin-top: 40px;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
    .header-logo-container {
        width: 70%;
        margin: 0 auto;
        padding: 0;
    }

    .header-logo {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .content-container {
        width: 70%;
        padding: 20px;
        margin: 5% auto;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }

    .form-title {
        margin: 10px;
        font-size: 28px;
        line-height: 30px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .submit-button {
        margin-top: 15px;
    }

    .register-link {
        margin-top: 10px;
    }
}

@media screen and (width: 540px) {
    .auth-header {
        height: 60px;
        line-height: 60px;
    }

    .header-logo-container {
        width: 70%;
        margin: 0 auto;
    }

    .header-logo {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .content-container {
        width: 70%;
        margin: 3% auto;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }

    .form-title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-label,
    .form-input {
        font-size: 20px;
    }

    .form-input {
        height: 45px;
        line-height: 45px;
    }

    .submit-button {
        margin-top: 10px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }

    .register-link {
        margin-top: 10px;
    }
}

@media screen and (max-width: 539px) {
        .auth-header {
        height: 60px;
        line-height: 60px;
    }

        .header-logo-container {
        width: 70%;
        margin: 0 auto;
        padding: 0;
    }

    .header-logo {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .content-container {
        width: 90%;
        margin: 10% auto;
        justify-content: center;
        align-items: center;
        min-height: 83vh;
    }

    .form-title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-label,
    .form-input {
        font-size: 20px;
    }

    .submit-button {
        margin-top: 10px;
    }
}


