.content-container {
    flex-direction: row;
}

/*画面左側のその他の取引一覧 */
.title-container {
    width: 259px;
    height: 902px;
    background-color: rgba(134, 134, 134, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 13px;
    margin: 0;

}

/* その他の取引タイトル */
.content-title {
    width: 195px;
    height: 36px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 1px solid rgba(255, 255, 255, 1);
    outline-offset: -1px;
    font-weight: 400;
    letter-spacing: 3px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: content-box;
    margin-bottom: 56px;
}

/* その他の取引一覧 (内容) */
.other-transactions-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-transaction-item {
    text-align: center;
    background-color: rgba(238, 239, 235, 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 5px;
}

.other-transaction-name,
.no-other-transactions {
    width: 197px;
    height: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.other-transaction-item:nth-child(even) {
    margin-top: 43px;
}

.other-transaction-item:nth-child(odd):not(:first-child) {
    margin-top: 46px;
}

.other-transaction-item:hover {
    background-color: #646464;
}

/* 画面右側の取引情報エリア */
.information-container {
    width: calc(100% - 259px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-image-section {
    display: flex;
    align-items: center;
    padding-left: 37px;
}

.profile-image-placeholder {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 13px;
}

.profile-image-holder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.transaction-partner-title {
    width: 794px;
    height: 65px;
    font-size: 36px;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    padding: 0 10px;
    display: flex;
    align-items: flex-start;
}

.transaction-complete-button {
    width: 172px;
    height: 54px;
    line-height: 54px;
    border-radius: 30px;
    background-color: rgba(255, 130, 130, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-left: 117px;
}

.transaction-image-section {
    width: 100%;
    display: flex;
}

.transaction-image {
    width: 203px;
    height: 206px;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
    margin: 14px 40px 12.99px 40px;
}

.transaction-image-info {
    display: flex;
    flex-direction: column;
}

.transaction-item-info {
    width: 100%;
}

.transaction-item-name {
    width: 100%;
    height: 66px;
    font-size: 48px;
    line-height: 66px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-align: left;
    margin-top: 55.01px;

}

.transaction-item-price {
    width: 265px;
    height: 45px;
    font-size: 36px;
    line-height: 45px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    text-align: left;
    margin-top: 31px;
}

.transaction-border-line {
    width: 100%;
    height: 0;
    border-bottom: 2px solid rgba(95, 95, 95, 1);
    margin: 0;
    padding: 0;
}

/* チャットメッセージ表示エリア */
.message-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 26px;
    height: 450px;
    overflow-y: auto;
}

.message-item {
    width: 100%;
    display: flex;
}

.message-item.sent .message-bubble,
.message-item.received .message-bubble {
    width: 461px;
}

.message-item.sent {
    justify-content: flex-end;
}

.message-item.received {
    justify-content: flex-start;
}

.message-bubble {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 1);

}

.user-profile-container {
    display: flex;
    gap: 24px;
}

.user-profile-placeholder {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile-image-holder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.user-name {
    width: 145px;
    height: 50px;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    line-height: 50px;
    text-align: left;
}

.message-content {
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    border-radius: 4px;
    background-color: rgba(217, 217, 217, 1);
}

.message-image {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}

.message-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 21px;
    margin-top: 10px;
}

.message-edit-button {
    width: 30px;
    height: 18px;
    color: rgba(95, 95, 95, 1);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}

.message-delete-form {
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

.message-delete-button {
    width: 30px;
    height: 18px;
    color: rgba(95, 95, 95, 1);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}

.message-form-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 18px 27.5px;
}

/* メッセージ入力フォーム */
.message-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-errors {
    display: flex;
    flex-direction: column;
    width: 937px;
}

.form-inputs-row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 18px;
}

.message-input-wrapper {
    display: flex;
    width: 937px;
}

.image-input-wrapper {
    display: flex;
    align-items: center;
}

.chat-message-input {
    width: 100%;
    height: 44px;
    border: 1px solid rgba(95, 95, 95, 1);
    border-radius: 4px;
    font-size: 16px;
    line-height: 44px;
    padding: 0 19px;
    outline: none;
}

.chat-message-image-button {
    width: 143px;
    height: 44px;
    border: 2px solid rgba(255, 85, 85, 1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 85, 85, 1);
}

.selected-image-name {
    margin-left: 10px;
    color: rgba(95, 95, 95, 1);
    font-size: 14px;
}

.chat-message-send-button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-message-send-button-image {
    width: 80px;
    height: 61px;
}

.chat-image-input {
    display: none;
}

/* 評価モーダル */
.rating-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.rating-modal-content {
    background-color: rgba(253, 252, 230, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
    width: 598px;
    height: 367px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
}

.rating-modal-title {
    height: 48px;
    line-height: 48px;
    font-size: 35px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    margin: 21px 23px 19px 23px;
}

.rating-modal-title-dot {
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
}

.rating-modal-line-top {
    width: 100%;
    height: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    margin: 0;
    padding: 0;
}

.rating-stars {
    display: flex;
    justify-content: center;
    gap: 13px;
    margin-bottom: 24px;
}

.rating-modal-subtitle {
    height: 24px;
    line-height: 24px;
    font-size: 20px;
    color: rgba(134, 134, 134, 1);
    text-align: left;
    margin: 18px 23px 31px 23px;
    font-weight: 400;
}

.rating-star {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: rgba(217, 217, 217, 1);
    mask-image: url('../images/star.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('../images/star.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition: background-color 0.2s;
}

.rating-star:hover,
.rating-star.active {
    background-color: rgba(255, 240, 72, 1);
}

.rating-modal-line-bottom {
    width: 100%;
    height: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    margin: 0;
    padding: 0;
}

.rating-modal-buttons {
    display: flex;
    justify-content: right;
}

.rating-submit-button {
    width: 127px;
    height: 49px;
    line-height: 49px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 130, 130, 1);
    color: rgba(255, 255, 255, 1);
    margin: 13px 14px;
}

.form__error {
    margin-left: 20px;
}

@media screen and (min-width:768px) and (max-width: 1280px) {
    .content-container {
        flex-direction: column;
    }

    .title-container {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 20px;
    }

    .content-title {
        width: 60%;
        margin: 10px auto;
    }

    .other-transactions-list {
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .other-transaction-item,
    .other-transaction-item:nth-child(even),
    .other-transaction-item:nth-child(odd):not(:first-child) {
        margin: 10px;
    }

    .information-container {
        width: 100%;
    }

    .profile-image-section {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        justify-content: center;
    }

    .transaction-partner-title {
        width: 70%;
        font-size: 30px;
        line-height: 30px;
        margin: 10px 0;
        align-items: center;
    }

    .message-area {
        height: 40vh;
        padding: 50px;
    }
}
