/* メール認証誘導画面 /email/verify */
.verify-email-page .main-content {
    width: 100%;
}

.content-container {
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.auth-header {
    height: 82px;
}

.auth-message {
    width: 100%;
    height: 58px;
    color: black;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.verify-email-button {
    width: 257px;
    height: 69px;
    line-height: 69px;
    display: inline-block;
    margin: 62px auto 52px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(217, 217, 217, 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
}

.resend-email-form {
    width: 257px;
    height: 53.29px;
}

.resend-email-button {
    width: 100%;
    height: 100%;
    line-height: 53.29px;
    color: rgba(0, 115, 204, 1);
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    border: none;
    background-color: transparent;
}


@media screen and (max-width: 768px) {
    .auth-container {
        width: 90%;
        padding: 20px 10px;
    }

    .auth-message {
        font-size: 20px;
    }

    .verify-email-button {
        width: 200px;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
    }

    .resend-email-button {
        font-size: 18px;
    }
}
